<div class="search-bar" style="display:flex">
  <input placeholder="Search for your beer..." type="text" [(ngModel)]="userSearch" />
  <button *ngIf="userSearch && userSearch.length>0" (click)="clearFilter()">Clear Filter</button>
</div>

<div class="main-content-div">
  <div class="beer"
    *ngFor="let beer of (beers$ | async ) | beerFilter: userSearch | paginate: { itemsPerPage: itemsPerPage, currentPage: onPage }"
    (click)="goToBeer(beer)">
    <h4>{{beer.name}}</h4>
    <p>{{beer.tagline}}</p>
    <img src="{{beer.image_url}}">
  </div>
</div>

<div class="pagination-footer">
  <pagination-controls (pageChange)="pageChanged($event)" class="pagination" previousLabel="" nextLabel=""
    autoHide="true">
  </pagination-controls>
</div>