
$width: 200px;
$height: 300px;


:host {
  input {
    width: 400px;
    padding: 7px;
    font-size: 15px;
  }
  .main-content-div{
  display: flex;
  flex-wrap: wrap;
  margin: 15px 50px 50px 50px;
  justify-content: center;
  align-items: center;
  }
  .search-bar{
    display:flex;
    justify-content: center;
    padding: 60px 0 0 0;
  }
  .beer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $width;
    height: $height;
    margin: 15px;
    h4 {
      margin-bottom: 0;
    }
    h4, p {
      text-align: center;
    }
    img {
      height: 50%;
    }
  }
  .pagination-footer{
    display:flex;
    justify-content: center;
  }

  .beer:hover{
    cursor: pointer;
  }

  @media screen and (min-width: 1420px) {
    max-width: 70%;
    margin: 50px auto;
  }
}
