<div class="search-bar">
  <input placeholder="Search for your beer..." type="text" [(ngModel)]="userSearch" />
</div>


<div class="main-content-div">
  <div class="beer"
    *ngFor="let beer of (beers$ | async ) | beerFilter: userSearch | paginate: { itemsPerPage: itemsPage, currentPage: onPage }"
    (click)="goToBeer(beer)">
    <h4>
      {{beer.name}}
    </h4>
    <p>
      {{beer.tagline}}
    </p>
    <img src="{{beer.image_url}}">
  </div>
</div>

<div class="pagination-footer">
  <pagination-controls (pageChange)="pageChanged($event)">
  </pagination-controls>
</div>