.beer-detail{
  margin: 0 auto;
  width: 80%;
  display:flex;
  align-items: center;
  flex-direction: column;
}

p {
  // text-align: center;
}

img {
  height: 300px;
  padding: 0 30px; 
}

table {
  padding: 20px 0 0px 0;
}

th, td {
  width: 160px;
  border: 1px solid black;
  text-align: center;
}

.go-back-div {
  margin:30px;
}

.back-text:hover{
  font-size:17px;
  color:lightcoral;
  cursor: pointer;
}


ul {
  margin: 18px;
}

button {
  // color: #399bab;
  // background-color: white;
  color: white;
  background-color: #397FAF;
  border: 0;
  height:60px;
  font-size: 20px;
  margin: 50px 0 0 0;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.image-pairing-list{
  display:flex;
  background-color: lightcoral;
  color:white;
  padding:30px;
}

.gravity-table{
  padding: 20px 0;
  text-align: center;
  animation: fadeIn 1s ease-in both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


